// HEADER

// .top_bar {
//     background-color: #A88041;
//     padding: 10px 0px;

//     .content {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: flex-end;
//         gap: 16px;

//         a {
//             text-decoration: none;
//             font-size: 16px;
//             font-weight: 500;
//             font-family: var(--mons);
//             color: #fff;
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             gap: 10px;

//             svg {
//                 font-size: 16px;
//                 color: #fff;
//             }
//         }
//     }
// }

// other pages header
.other_header {
    padding: 0px;
    background-color: #1e1e1e;

    .logo {
        position: relative;
        width: 100px;
        height: 90px;
        margin-right: 0 !important;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .body {
            flex: 2;

            .nav {
                gap: 16px;

                .link {
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                    padding: 0px 10px;
                }
            }

        }

        .left_side {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            svg {
                font-size: 24px;
                color: rgba(22, 22, 22, 1);
            }

            .btn6:global(.btn) {
                background-color: transparent;
                border-color: transparent;
                padding: 0;

                svg {
                    font-size: 24px;
                    color: rgba(22, 22, 22, 1);
                }
            }
        }
    }
}


// home page header
.header {
    padding: 12px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    .logo {
        position: relative;
        width: 100px;
        height: 90px;
        margin-right: 0 !important;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .body {
            flex: 2;

            .nav {
                gap: 16px;

                .link {
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                    padding: 0px 10px;
                }
            }

        }

        .left_side {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            svg {
                font-size: 24px;
                color: rgba(22, 22, 22, 1);
            }

            .btn6:global(.btn) {
                background-color: transparent;
                border-color: transparent;
                padding: 0;

                svg {
                    font-size: 24px;
                    color: rgba(22, 22, 22, 1);
                }
            }
        }
    }
}



// Footer

.footer {
    background-color: #1e1e1e;
    position: relative;
    padding: 80px 0px;

    .main_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #888;

        .image {
            width: 150px;
            height: 140px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .para {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 0;
            text-align: center;
        }

        .social_icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            padding-top: 50px;

            a {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                text-align: center;
                border: 1px solid #fff;
                transition: all 0.3s ease-in-out;

                svg {
                    font-size: 22px;
                    color: #fff;
                    margin: 25% auto;
                }
            }

            a:hover {
                background-color: #fff;
                margin-top: -15px;

                svg {
                    color: #1e1e1e;
                }
            }
        }
    }

    .content {
        .heading {
            font-size: 22px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
        }

        .list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .items {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                transition: all 0.4s ease-in-out;

                svg {
                    font-size: 18px;
                    color: #fff;
                    flex: 2;
                }

                a {
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                    flex: 16;
                    position: relative;
                }

                a:after {
                    position: absolute;
                    bottom: 0;
                    content: '';
                    width: 0;
                    height: 1px;
                    background: #fff;
                    transition: width .3s;
                    left: 0;
                }

                a:hover::after {
                    width: 40%;
                }
            }

        }
    }
}